<div class="animated fadeIn">
  <div class="row">
    <div class="col col-md">
      <div class="card">
        <div class="card-header">
          <div class="col-2 float-left text-left">
            <h3>Employee Group</h3>
          </div>
          <div class="col-2 float-right text-right">
            <a [routerLink]="['/setup/employeegrouplist']" id="link-back-employeegroup">
              <button type="button" class="btn btn-info" id="btn-new-distribution">
                <i class="fa fa-arrow-left"></i>
              </button>
            </a>
            &nbsp;
            <a>
              <button type="button" (click)="onSave()" class="btn btn-success" id="btn-save-back">
                <i class="fa fa-save"></i>
              </button>
            </a>
          </div>
        </div>
        <div class="card-body">
          <div>
            <input type="hidden" id="employeeGroup">
          </div>
          <div class="form-group">
            <label for="lbl-employeegroup-code">Employee Group Code</label>
            <input type="text" class="form-control" id="employeegroup-code" placeholder="Enter your employeegroup code"
              [(ngModel)]="employeeGroup.employeeGroupCode">
          </div>
          <div class="form-group">
            <label for="lbl-employeegroup-name-th">Employee Group Name Thai</label>
            <input type="text" class="form-control" id="employeegroup-name-th"
              placeholder="Enter your employeegroup name" [(ngModel)]="employeeGroup.employeeGroupNameTh">
          </div>
          <div class="form-group">
            <label for="lbl-employeegroup-name-en">Employee Group Name Eng</label>
            <input type="text" class="form-control" id="employeegroup-name-en"
              placeholder="Enter your employeegroup name" [(ngModel)]="employeeGroup.employeeGroupNameEn">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
