<div class="animated fadeIn">
  <div class="row">
    <div class="col col-md">
      <div class="card">
        <div class="card-header">
          <div class="col-6 float-left text-left">
            <h3>Employee Details</h3>
          </div>
          <div class="col-6 float-right text-right">
            <a [routerLink]="['/employee/employeelist']" id="link-back-employeelist">
              <button type="button" class="btn btn-info" id="btn-new-distribution">
                <i class="fa fa-arrow-left"></i>
              </button>
            </a>
            &nbsp;
            <a>
              <button type="button" (click)="onSave()" class="btn btn-success" id="btn-save-back">
                <i class="fa fa-save"></i>
              </button>
            </a>
          </div>
        </div>

        <div class="card-body">
          <tabset>

            <!-- General Tab -->
            <tab heading="General">
              <div class="row">
                <div class="col-2">
                  <label for="employee-group">Title Name</label>
                  <div class="" dropdown>
                    <button dropdownToggle type="button" class="form-control dropdown-toggle">
                      <label class="col-10">
                        {{currentTitle}}
                      </label>
                      <span class="caret"></span>
                    </button>
                    <ul *dropdownMenu class="dropdown-menu" role="menu">
                      <li *ngFor="let title of titleOptions" role="menuitem">
                        <a class="dropdown-item" (click)="onSelectFilter('title', title)">
                          {{title.value}}
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <!-- <div class="col-2">
                  <label for="company">Title Name</label>
                  <select class="form-control" id="titel-name" name="titel-name-input">
                    <option class="text-center" *ngFor="let title of titleOptions; let i = index" value="{{i}}"
                      (click)="onSelectFilter('title', title)">
                      {{title.value}}
                    </option>
                  </select>
                </div> -->

                <div class="col-4">
                  <label for="company">First Name</label>
                  <input type="text" class="form-control" id="first-name-input" placeholder="Enter your first name"
                    [(ngModel)]="employee.firstName">
                </div>
                <div class="col-4">
                  <label for="company">Last Name</label>
                  <input type="text" class="form-control" id="last-name-input" placeholder="Enter your last name"
                    [(ngModel)]="employee.lastName">
                </div>
              </div>
              <br>

              <div class="row">
                <div class="col-2">
                  <label for="company">Gender</label>
                  <div class="col col-form-label pl-0">
                    <div class="form-check form-check-inline mr-1" id="gender-radios" *ngFor="let gender of genderList">
                      <input type="radio" class="form-check-input" id="gender-radio-{{gender.value}}"
                        name="gender-radio-{{gender.value}}" [checked]="gender.isSelected"
                        (click)="onSelectFilter('gender', gender)">
                      <label class="form-check-label" for="gender-radio-{{gender.value}}">{{gender.value}}</label>
                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <label for="company">Weight</label>
                  <input type="number" min="0" max="500" class="form-control" id="weight-input"
                    placeholder="Enter your weight" [(ngModel)]="employee.weight">
                </div>
                <div class="col-4">
                  <label for="company">Height</label>
                  <input type="number" min="0" max="300" class="form-control" id="height-input"
                    placeholder="Enter your height" [(ngModel)]="employee.height">
                </div>
              </div>
              <br>

              <div class="row">
                <div class="col-2">
                  <label for="birthday">Birthday</label>
                  <input class="form-control" id="birthday-input" type="date" name="birthday-input" placeholder="date"
                    [(ngModel)]="employee.birthDate">
                </div>
                <div class="col-3">
                  <label for="birthday">Nationality</label>
                  <input class="form-control" id="nationality-input" type="text" name="nationality-input"
                    placeholder="nationality" [(ngModel)]="employee.nationality">
                </div>
                <div class="col-3">
                  <label for="nationalism">Nationalism </label>
                  <input class="form-control" id="nationalism-input" type="text" name="nationalism-input"
                    placeholder="nationalism" [(ngModel)]="employee.nationalism">
                </div>
                <div class="col-3">
                  <label for="birthday">Religion</label>
                  <input class="form-control" id="religion-input" type="text" name="religion-input"
                    placeholder="religion" [(ngModel)]="employee.religion">
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-4">
                  <label for="id-card-input">ID - Card</label>
                  <input type="text" name="id-card-input" id="id-card-input" class="form-control" placeholder="ID Card"
                    [(ngModel)]="employee.idCard">
                </div>

                <!-- Marital Status -->
                <div class="col-4">
                  <label for="company">Marital Status</label>
                  <div class="col col-form-label pl-0">
                    <div class="form-check form-check-inline mr-1" id="marry-radios"
                      *ngFor="let martial of martialStatus">
                      <input class="form-check-input" type="radio" name="marry-radios" id="marry-radios-single"
                        [checked]="martial.isSelected" (click)="onSelectFilter('martial', martial)">
                      <label class="form-check-label" for="marry-radios-single">
                        {{martial.value}}
                      </label>
                    </div>
                  </div>
                </div>

                <!-- Military Status -->
                <div class="col-4">
                  <label for="company">Military Status</label>
                  <div class="col col-form-label pl-0">
                    <div class="form-check form-check-inline mr-1" id="military-radios"
                      *ngFor="let military of militaryStatus">
                      <input class="form-check-input" type="radio" name="military-radios" id="military-radios-serving"
                        [checked]="military.isSelected" (click)="onSelectFilter('military', military)">
                      <label class="form-check-label" for="military-radios-serving">{{military.value}}</label>
                    </div>
                  </div>
                </div>
              </div>
            </tab>

            <!-- Employment Tab -->
            <tab heading="Employment">
              <div class="row">
                <div class="form-group col-4">
                  <label>Strat Date</label>
                  <input class="form-control" type="date" id="start-date-work">
                </div>
                <div class="form-group col-4">
                  <label>year’s experience</label>
                  <input class="form-control" type="text" id="work-age">
                </div>
              </div>

              <div class="row">
                <div class="form-group col-4">
                  <label for="employee-group">Employee Group</label>
                  <div class="" dropdown>
                    <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
                      {{currentGroup}}
                      <span class="caret"></span>
                    </button>
                    <ul *dropdownMenu class="dropdown-menu" role="menu">
                      <li *ngFor="let group of employeeGroups" role="menuitem">
                        <a class="dropdown-item" (click)="onSelectFilter('group', group)">
                          {{group.employeeGroupNameEn}}</a>
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="form-group col-4">
                  <label for="employee-level">Employee Level</label>
                  <div class="" dropdown>
                    <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
                      {{currentLevel}} <span class="caret"></span>
                    </button>
                    <ul *dropdownMenu class="dropdown-menu" role="menu">
                      <li *ngFor="let level of employeeGropLevels" role="menuitem">
                        <a class="dropdown-item" (click)="onSelectFilter('level', level)">
                          {{level.employeeLevelNameEn}}
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="form-group col-4">
                  <label for="city">Position</label>
                  <input type="text" class="form-control" id="position" placeholder="">
                </div>
                <div class="form-group col-4">
                  <label for="city">Department</label>
                  <input type="text" class="form-control" id="department" placeholder="">
                </div>
                <div class="form-group col-4">
                  <label>Employee Type</label>
                  <input type="text" class="form-control" id="employee-type" placeholder="">
                </div>
              </div>

              <div class="row">
                <div class="form-group col-4">
                  <label>Salary</label>
                  <input class="form-control text-right" type="text" id="salary-input" placeholder="999,999.00">
                </div>
              </div>

              <div class="row">
                <div class="form-group col-6">
                  <table class="table">
                    <thead>
                      <th>Income Name</th>
                      <th>Total</th>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          Position
                        </td>
                        <td class="text-right">
                          5,000.00
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="form-group col-6">
                  <table class="table">
                    <thead>
                      <th>Deduct Name</th>
                      <th>Total</th>
                    </thead>
                  </table>
                </div>
              </div>
            </tab>

            <!-- Tax Reduction Tab-->
            <tab heading="Tax Reduction">
              <div class="row">
                <div class="col-4">
                  <label for="company">เงินได้</label>
                  <div class="col col-form-label">
                    <div class="form-check form-check-inline mr-1" id="military-radios">
                      <input class="form-check-input" type="radio" name="military-radios" id="military-radios-serving"
                        value="option1">
                      <label class="form-check-label" for="military-radios-serving">เงินได้ฝ่ายเดียว</label>
                    </div>
                    <div class="form-check form-check-inline mr-1">
                      <input class="form-check-input" type="radio" name="military-radios" id="military-radios-completed"
                        value="option2">
                      <label class="form-check-label" for="military-radios-completed">เงินได้สองฝ่าย</label>
                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <label for="company">ลดหย่อนคู่สมรส</label>
                  <div class="col col-form-label">
                    <div class="form-check form-check-inline mr-1" id="military-radios">
                      <input class="form-check-input" type="radio" name="military-radios" id="military-radios-serving"
                        value="option1">
                      <label class="form-check-label" for="military-radios-serving">หัก</label>
                    </div>
                    <div class="form-check form-check-inline mr-1">
                      <input class="form-check-input" type="radio" name="military-radios" id="military-radios-completed"
                        value="option2">
                      <label class="form-check-label" for="military-radios-completed">ไม่หัก</label>
                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <label for="company">ประเภทการยื่นภาษี</label>
                  <div class="col col-form-label">
                    <div class="form-check form-check-inline mr-1" id="military-radios">
                      <input class="form-check-input" type="radio" name="military-radios" id="military-radios-serving"
                        value="option1">
                      <label class="form-check-label" for="military-radios-serving">แยกยื่น</label>
                    </div>
                    <div class="form-check form-check-inline mr-1">
                      <input class="form-check-input" type="radio" name="military-radios" id="military-radios-completed"
                        value="option2">
                      <label class="form-check-label" for="military-radios-completed">ยื่นรวม</label>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-4">
                  <label for="company">ลดหย่อนบุตร</label>
                  <div class="col col-form-label">
                    <input class="form-control" type="text">
                  </div>
                </div>
                <div class="col-4">
                  <label for="company">ค่าฝากครรรภ์และค่าคลอดบุตร</label>
                  <div class="col col-form-label">
                    <input class="form-control" type="text">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-4">
                  <label for="company">เงินสะสม กบข</label>
                  <div class="col col-form-label">
                    <input class="form-control" type="text">
                  </div>
                </div>
                <div class="col-4">
                  <label for="company">เงินชดเชยที่ได้รับตามกฏหมาย</label>
                  <div class="col col-form-label">
                    <input class="form-control" type="text">
                  </div>
                </div>
                <div class="col-4">
                  <label for="company">เงินสะสมกองทุนสงเคราะห์ครูโรงเรียนเอกชน</label>
                  <input class="form-control" type="text">
                </div>
              </div>

              <div class="row">
                <div class="col-4">
                  <label>กองทุนเพื่อการเลี้ยงชีพ</label>
                  <div class="col col-form-label">
                    <input class="form-control" type="text">
                  </div>
                </div>
                <div class="col-4">
                  <label>กองทุนรวมหุ้นระยะยาว</label>
                  <div class="col col-form-label">
                    <input class="form-control" type="text">
                  </div>
                </div>
                <div class="col-4">
                  <label>เบี้ยประกันชีวิต</label>
                  <div class="col col-form-label">
                    <input class="form-control" type="text">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-4">
                  <label>เบี้ยประกันสุขภาพ</label>
                  <div class="col col-form-label">
                    <input class="form-control" type="text">
                  </div>
                </div>
                <div class="col-4">
                  <label>เบี้ยประกันชีวิตแบบบำนาญ</label>
                  <div class="col col-form-label">
                    <input class="form-control" type="text">
                  </div>
                </div>
                <div class="col-4">
                  <label>เงินสนับสนุนการกีฬา</label>
                  <div class="col col-form-label">
                    <input class="form-control" type="text">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-4">
                  <label>เงินสนับสนุนการศึกษา</label>
                  <div class="col col-form-label">
                    <input class="form-control" type="text">
                  </div>
                </div>
                <div class="col-4">
                  <label>เงินบริจาคให้สถานพยาบาลของรัฐ</label>
                  <div class="col col-form-label">
                    <input class="form-control" type="text">
                  </div>
                </div>
                <div class="col-4">
                  <label>ดอกเบี้ยเงินกู้เพื่อที่อาศัย</label>
                  <div class="col col-form-label">
                    <input class="form-control" type="text">
                  </div>
                </div>
              </div>

            </tab>

            <!-- Address Tab -->
            <tab>
              <ng-template tabHeading><i class="icon-pie-chart"></i> Address</ng-template>
              <div class="row">
                <div class="form-group col-sm-8">
                  <label for="city">Address</label>
                  <input type="text" class="form-control" id="address" placeholder="Enter your address"
                    [(ngModel)]="employee.addresses.addressName">
                </div>
              </div>
              <div class="row">
                <div class="form-group col-sm-4">
                  <label for="postal-code">Address No</label>
                  <input type="text" class="form-control" id="address-no" placeholder="Address no"
                    [(ngModel)]="employee.addresses.addressNo">
                </div>
                <div class="form-group col-sm-4">
                  <label for="postal-code">Group No</label>
                  <input type="text" class="form-control" id="group-no" placeholder="Group no"
                    [(ngModel)]="employee.addresses.groupNo">
                </div>
                <div class="form-group col-sm-4">
                  <label for="postal-code">Building</label>
                  <input type="text" class="form-control" id="building" placeholder="Building"
                    [(ngModel)]="employee.addresses.building">
                </div>
              </div>
              <div class="row">
                <div class="form-group col-sm-4">
                  <label for="postal-code">Room No</label>
                  <input type="text" class="form-control" id="room-no" placeholder="Room no"
                    [(ngModel)]="employee.addresses.roomNo">
                </div>
                <div class="form-group col-sm-4">
                  <label for="postal-code">Floor No</label>
                  <input type="text" class="form-control" id="floor-no" placeholder="Floor no"
                    [(ngModel)]="employee.addresses.floorNo">
                </div>
              </div>
              <div class="row">
                <div class="form-group col-sm-4">
                  <label for="postal-code">Village</label>
                  <input type="text" class="form-control" id="village" placeholder="Village"
                    [(ngModel)]="employee.addresses.village">
                </div>
                <div class="form-group col-sm-4">
                  <label for="postal-code">Lane</label>
                  <input type="text" class="form-control" id="lena" placeholder="Lane"
                    [(ngModel)]="employee.addresses.lane">
                </div>
                <div class="form-group col-sm-4">
                  <label for="postal-code">Street</label>
                  <input type="text" class="form-control" id="street" placeholder="Street"
                    [(ngModel)]="employee.addresses.street">
                </div>
              </div>
              <div class="row">
                <div class="form-group col-sm-4">
                  <label for="postal-code">District</label>
                  <input type="text" class="form-control" id="district" placeholder="district"
                    [(ngModel)]="employee.addresses.district">
                </div>
                <div class="form-group col-sm-4">
                  <label for="postal-code">Amphur</label>
                  <input type="text" class="form-control" id="amphur" placeholder="Amphur"
                    [(ngModel)]="employee.addresses.amphur">
                </div>
                <div class="form-group col-sm-4">
                  <label for="postal-code">Province</label>
                  <input type="text" class="form-control" id="province" placeholder="Province"
                    [(ngModel)]="employee.addresses.province">
                </div>
              </div>
              <div class="row">
                <div class="form-group col-sm-4">
                  <label for="country">Country</label>
                  <input type="text" class="form-control" id="country" placeholder="Country name"
                    [(ngModel)]="employee.addresses.country">
                </div>
                <div class="form-group  col-sm-4">
                  <label for="country">Post code</label>
                  <input type="text" class="form-control" id="postcode" placeholder="postcode"
                    [(ngModel)]="employee.addresses.postalCode">
                </div>
              </div>
            </tab>

            <!-- Education Tab -->
            <tab heading="Education">
              <div class="row">
                <div class="form-group col-12">
                  <table class="table">
                    <thead>
                      <th>no.</th>
                      <th>name</th>
                      <th>institution</th>
                      <th>qualification</th>
                    </thead>
                  </table>
                </div>
              </div>
            </tab>

            <!-- Experience Tab -->
            <tab heading="Experience">
              <div class="row">
                <div class="form-group col-12">
                  <table class="table">
                    <thead>
                      <th>no.</th>
                      <th>organizationName</th>
                      <th>businessType</th>
                      <th>position</th>
                      <th>workCategory</th>
                      <th>startDate</th>
                      <th>endDate</th>
                    </thead>
                  </table>
                </div>
              </div>
            </tab>
          </tabset>
        </div>
      </div>
    </div>
  </div>
</div>
