<div class="animated fadeIn">
  <div class="row">
    <div class="col col-md">
      <div class="card">
        <div class="card-header">
          <div class="col-2 float-left text-left">
            <strong>Position List</strong>
          </div>

          <div class="col-2 float-right text-right">
            <a [routerLink]="['/setup/position']" id="link-new-fund">
              <button type="button" class="btn btn-info active" id="btn-new-fund">
                New Position
              </button>
            </a>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-responsive-sm table-bordered table-striped table-sm"
              aria-describedby="Table Position Order">
              <thead>
                <tr>
                  <th id="sort-position-id" class="text-center sort-cursor"></th>
                  <th id="sort-position-code" class="text-center">
                    Position Code
                  </th>
                  <th id="sort-position-code" class="text-center">
                    Position Name TH
                  </th>
                  <th id="sort-position-code" class="text-center">
                    Position Name EN
                  </th>
                  <th id="action" class="text-center">
                    Action
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="positionListFiltered.length == 0">
                  <td class="text-center" colspan="100">
                    No data available in table
                  </td>
                </tr>
                <tr *ngFor="let position of positionListFiltered; let i = index">
                  <td class="pl-4 checkbox align-middle">
                    <label>
                      {{ position.id }}
                    </label>
                  </td>
                  <td class="pl-4 checkbox align-middle">
                    <label>
                      {{ position.positionCode }}
                    </label>
                  </td>
                  <td class="pl-4 checkbox align-middle">
                    <label>
                      {{ position.positionNameTh }}
                    </label>
                  </td>
                  <td class="pl-4 checkbox align-middle">
                    <label>
                      {{ position.positionNameEn }}
                    </label>
                  </td>
                  <td>
                    <div class="col-12">
                      <button type="button" (click)=updatePosition(position.id) class="btn btn-warning"
                        id="btn-edit-fund">
                        <i class="fa fa-edit"></i>
                      </button>
                      &nbsp;
                      <button type="button" (click)=deletePosition(position.id) class="btn btn-danger"
                        id="btn-edit-fund">
                        <i class="fa fa-trash"></i>
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
